.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  overflow-y: scroll;
}

.page {
  position: relative;
  width: 100%;
  scroll-margin: 50px;
}
.home_page {
  display: flex;
  align-items: center;
  background-color: #b64e601f;
  min-height: max(100vh, 700px);
  padding-top: 45px;
  overflow: hidden;
}
.overview_page {
  background-color: black;
  clip-path: inset(0 0 0 0);
}
.stages_page {
  padding: 50px 0px;
  background-color: #060010;
}
.timeline_page {
  background-color: black;
}
.rules_page {
  padding-top: 50px;
}
.footer_page {
  margin: 20px 0;
  background-color: black;
  min-height: auto;
  padding-bottom: 30px;
  padding-top: 50px;
  margin-bottom: 0;
}
.contact_page {
  clip-path: inset(0 0 0 0);
}

.up {
  position: fixed;
  bottom: 30px;
  right: 49px;
  display: flex;
  padding: 10px;
  background-color: #0000008a;
  backdrop-filter: blur(4px);
  z-index: 12321321;
  border-radius: 50%;
  color: #bdbdbd;
  border: 1px solid #ffffff2e;
  transition: 300ms;
}
.up.hidden {
  right: -50px;
}
