.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  overflow-y: scroll;
}

.page {
  position: relative;
  width: 100%;
  scroll-margin: 50px;
}
.home_page {
  display: flex;
  align-items: center;
  background-color: #b64e601f;
  min-height: max(100vh, 700px);
  padding-top: 45px;
  overflow: hidden;
}
.overview_page {
  padding: 50px 0px;
  background-color: black;
  clip-path: inset(0 0 0 0);
}
.stages_page {
  padding: 50px 0px;
  background-color: #060010;
}
.timeline_page {
  background-color: black;
}
.rules_page {
  padding-top: 50px;
}
.footer_page {
  margin: 20px 0;
  background-color: black;
  min-height: auto;
  padding-bottom: 30px;
  padding-top: 50px;
  margin-bottom: 0;
}
.contact_page {
  clip-path: inset(0 0 0 0);
}
