.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.page {
  min-height: 100vh;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.home_page {
  display: flex;
  align-items: center;
  background-color: #b64e601f;
}
.stages_page {
  padding: 50px 0px;
}
.timeline_page {
  padding: 50px 0px;
  background-color: black;
}
