.con {
  padding: 100px 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.labels_con,
.form_buttons_con {
  display: flex;
  justify-content: center;
}
.labels,
.form_buttons {
  max-width: 700px;
  width: 100%;
  margin: 0 21px;
}
.hide_button {
  opacity: 0;
  touch-action: none;
}
.content {
  flex: 1;
}
.form_buttons {
  display: flex;
  justify-content: space-between;
}
.form {
  display: flex;
  justify-content: center;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #00000085;
  z-index: 15;
}
.form_con {
  max-width: 900px;
  margin: 40px;
  width: 100%;
}
.input {
  width: 100%;
  max-width: 500px;
}

@media screen and (max-width: 600px) {
  .form_con {
    margin: 40px 20px;
  }
}

.error {
  display: flex;
  justify-content: center;
}
.error_data {
  max-width: 900px;
  width: 100%;
  margin: -50px 40px 0 40px;
}
.error_data div {
  font-size: 1em;
}
