.blob_circle_con {
  position: absolute;
  filter: url(#goo);
}
.blob_circle {
  position: absolute;
  height: 150px;
  width: 150px;
  background-color: red;
  border-radius: 50%;
  animation: circle infinite 8s;
}

@keyframes circle {
  0% {
  }
  20% {
  }

  100% {
  }
}

.animated_square {
  --scale: max(40vw, 400px);
  position: absolute;
  height: var(--scale);
  width: var(--scale);
  border-radius: 39px;
  background-color: rgb(255 255 255 / 10%);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  z-index: 10;
  box-shadow: 0 0 55px #ffffff33;
  border: 1px solid #ffffff29;
  top: 66%;
  left: 68%;
  transform: rotate(45deg);
  animation: square infinite 29s;
}

@keyframes square {
  0%,
  100% {
    transform: rotate(45deg) translate(0px);
  }
  50% {
    transform: rotate(5deg) translate(-30%);
  }
}
