.con {
  height: 100%;
  width: 100%;
}
.ball {
  position: fixed;
  height: 170px;
  width: 170px;
  background-color: #272d64;
  top: 363px;
  border-radius: 50%;
  z-index: -1;
  left: var(--m-x);
  top: var(--m-y);
  opacity: var(--m-o);
  transform: translate(-50%, -50%);
  transition: opacity 300ms;
  will-change: left, top, opacity;
}
