.def_btn {
  background-color: black;
  background-color: var(--button-back, white);
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  border: 1px solid white;
  transition: color 150ms, background-color 150ms;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.def_btn:hover {
  color: white;
  background-color: var(--button-hover-back, rgba(255, 255, 255, 0.099));
  backdrop-filter: blur(3px);
}

.invert {
  color: white;
  background-color: black;
}
.icon_btn {
  display: flex;
}
.icon_btn a {
  display: flex;
  padding: 10px;
  border-radius: 18px;
  /* border-radius: 50%; */
  background-color: #17172f;
}
