.box {
  background-color: #ffffff0f;
  padding: 20px 20px 30px 20px;
  border-radius: 11px;
  margin: 32px 0;
  border: 1px solid transparent;
}
.small_box {
  padding: 10px 20px;
}
.box_content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.box_error {
  border: 1px solid #b84444;
}
.box_err_text {
  margin: 6px 0;
  font-size: 0.8em;
  gap: 5px;
  align-items: center;
  color: #ff6868;
}
.inp_text {
  margin: 10px 0px 20px 0;
}
.input {
  width: 100%;
  max-width: 500px;
}
